@keyframes touch-left-hand {
    0%,
    80%,
    90%,
    100% {
        transform: none;
    }
    88% {
        transform: translate(15px, -15px), rotate(10deg);
    }
}

@keyframes touch-right-hand {
    0%,
    78%,
    90%,
    100% {
        transform: none;
    }
    88% {
        transform: translate(-10px, 12px);
    }
}

.ripple {
    animation: ripple 10s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

.left-hand {
    animation: touch-left-hand 10s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

.right-hand {
    animation: touch-right-hand 10s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
