<header>
    <h1 mat-header>SDAL Touch </h1>
    <button tabindex="0" mat-mini-fab (click)="close()">
        <mat-icon>clear</mat-icon>
    </button>
</header>
<h3 mat-subheader>Выберите время для встречи с друзьями.</h3>
<p>Добро пожаловать в SDAL Touch!</p>
<p>Мы, участники лаборатории SDAL, создали это приложение, чтобы вам было проще выбрать время для встречи со своиим
    друзьями из Бауманки.</p>
<p>Хотите погулять со своиим школьным приятелем, который также как и вы поступил в бауманку, встретиться с девушкой
    после пар (она
    тоже из бауманки!), найти время для объявления чтобы весь поток был в сборе? Все эти кейсы с лёгкостью решает наш
    сервис.</p>
<p>Просто введите названия групп или имена бауманцев (да, мы знаем каждого, кто учится в универе) и выберите один из
    подходящих вам вариантов встречи</p>
<p>Для более сложных задач вы можете воспользоваться общей таблицей с расписанием и выбрать нужное вам время
    самостоятельно в ручном режиме.</p>
<p>Вот и всё! Пользуйтесь на здоровье!</p>
<button class="raised" (click)="close()" mat-raised-button color="accent">
    <mat-icon>check_circle_outline</mat-icon>&nbsp;Я всё понял!
</button>
<h3 mat-subheader>Фидбек</h3>
<p>Не всё понятно? Знаете, как сделать приложение лучше? Хотит поучаствовать в разработке?</p>
<mat-form-field>
    <textarea #textarea [disabled]="sent" matInput cols="30" rows="5" placeholder="Оставь комментарий"
        [(ngModel)]="comment"></textarea>
</mat-form-field>
<button [disabled]="!comment" *ngIf="!sent" class="raised" mat-raised-button color="primary" (click)="send()">
    <mat-icon>send</mat-icon>&nbsp;Отправить
</button>
<button *ngIf="sent" class="raised" mat-raised-button color="primary" (click)="sent = false; textarea.focus()">
    <mat-icon>accessibility_new</mat-icon>&nbsp;Хочу написать ещё
</button>