table {
    width: 100%;
}

.time-slot {
    justify-content: stretch;
    .time-range {
        flex: none;
        border: 3px solid transparent;
        width: unset;
    }
}

.odd {
    background: #d1d1d165;
}

td {
    border: 3px solid transparent;
    &.group-lesson {
        &:hover {
            border-color: #00000044;
        }
    }
}

.today {
    // background: pink;
    // box-shadow: 0 3px 25px #cc99ffaa;
}
