:host {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .week-schedule {
        flex: 1 1 100%;
        max-width: 490px;
        box-sizing: border-box;
        padding: 10px;
        overflow: hidden;
    }
}
