<mat-sidenav-container class="example-sidenav-container">

    <mat-sidenav #snav [mode]="(responsive.mobile | async) ? 'over' : 'side'" opened class="mat-elevation-z6">
        <div class="scroll-box">
            <button mat-mini-fab (click)="snav.toggle()" class="close-button">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <div class="touch-logo-wrapper">
                <img src="/assets/logo/touch-logo.svg" alt="SDAL Touch" class="touch-logo">
            </div>
            <div>
                <sdal-targets></sdal-targets>
            </div>
            <div>
                <sdal-search></sdal-search>
            </div>
            <div>
                <sdal-vk-oauth></sdal-vk-oauth>
            </div>
            <footer>
                <sdal-footer></sdal-footer>
            </footer>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <span>
            <button mat-mini-fab (click)="snav.toggle()" class="menu-button" *ngIf="!snav.opened">
                <mat-icon>menu</mat-icon>
            </button>
        </span>
        <div class="scroll-box">
            <sdal-recommendations></sdal-recommendations>
            <sdal-schedule-table></sdal-schedule-table>
            <div style="position: sticky; bottom: 0; position:-webkit-sticky; z-index: 150; ">
                <sdal-lesson-details style="user-select: none; touch-action: none;" draggable="false">
                </sdal-lesson-details>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>