<mat-sidenav-container class="example-sidenav-container">

    <mat-sidenav #snav [mode]="(responsive.mobile | async) ? 'over' : 'side'" opened>
        <h1>
            SDAL Touch
            <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>chevron_left</mat-icon>
            </button>
        </h1>
        <sdal-search></sdal-search>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

    </mat-sidenav-content>
</mat-sidenav-container>