<mat-sidenav-container class="example-sidenav-container">

    <mat-sidenav #snav [mode]="(responsive.mobile | async) ? 'over' : 'side'" opened>
        <div class="scroll-box">
            <button mat-mini-fab (click)="snav.toggle()" class="close-button">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <h1 mat-header>
                <span mat-line>SDAL Touch</span>
            </h1>
            <sdal-targets></sdal-targets>
            <sdal-search></sdal-search>
            <sdal-footer>
            </sdal-footer>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <span>
            <button mat-mini-fab (click)="snav.toggle()" class="menu-button" *ngIf="!snav.opened">
                <mat-icon>menu</mat-icon>
            </button>
        </span>
        <div class="scroll-box">
            <sdal-recommendations></sdal-recommendations>
            <sdal-schedule-table></sdal-schedule-table>
            <div style="position: sticky; bottom: 0; position:-webkit-sticky; z-index: 150">
                <sdal-lesson-details style="user-select: none; touch-action: none;" draggable="false">
                </sdal-lesson-details>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>