<mat-card *ngIf="schedule.selectedLesson | async as lesson">
    <mat-card-header>
        <mat-icon mat-card-avatar>class</mat-icon>
        <mat-card-title>{{lesson.name}}</mat-card-title>
        <mat-card-subtitle>{{lesson.teacher}}</mat-card-subtitle>
        <button mat-icon-button (click)="schedule.selectedLesson.next(null)">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        <div>{{lesson.group}}</div>
        <div>{{lesson.week}}</div>
        <div>{{lesson.day}}</div>
        <div>{{lesson.type}}</div>
        <div>{{lesson.timeRange}}</div>
        <div>{{lesson.location}}</div>
    </mat-card-content>
</mat-card>