.wrapper {
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.list-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
        filter: invert(0.2);
    }
    .option {
        padding: 10px;
        color: inherit;
        text-decoration: none;
    }
}

mat-card {
    margin: 10px;
    // margin-bottom: 10px;
}
