<p>search works!</p>
<h2 mat-subheader>
    Добавление групп
</h2>
<mat-form-field>
    <input #query type="text" matInput>
    <!-- <input #query type="text" matInput (ngModelChange)="onChange($event)"> -->
    <button mat-icon-button matSuffix (click)="query.value = ''"
        [style.visibility]="query.value ? 'initial' : 'hidden'">
        <mat-icon>clear</mat-icon>
    </button>
    <button mat-icon-button matPrefix>
        <mat-icon>help_outlined</mat-icon>
    </button>
</mat-form-field>
{{text}}