/* You can add global styles to this file, and also import other style files */

html,
body,
sdal-root {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// sdal-home {
//     transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
// }

mat-icon {
    vertical-align: middle;
}

.mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
}

// .mat-drawer-inner-container {
//     padding: 10px;
// }

p {
    padding: 0 10px;
}

.about-modal-pane {
    overflow-y: auto;
    height: 100vh;
    max-height: 800px;
}
